<!--<form class="form-container" (ngSubmit)="addBookComponent()">-->
<!--<h2>Write your data</h2>-->
<!--<div class="form-group">-->
<!--<label for="title" class="label-group" required>Title*</label>-->
<!--<input type="text" class="input-group" id="title" [(ngModel)]="bookModel.title" name="title">-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<label for="author" class="label-group" required>Author(-s)*</label>-->
<!--<input type="text" class="input-group" id="author" [(ngModel)]="bookModel.authors" name="author">-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<label for="genre" class="label-group" required>Genre*</label>-->
<!--<input type="text" class="input-group" id="genre" [(ngModel)]="bookModel.genres" name="genre">-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<label for="imagePath" class="label-group">Image Path</label>-->
<!--<input type="text" class="input-group" id="imagePath" [(ngModel)]="bookModel.imagePath" name="imagePath">-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<label for="release_date" class="label-group" required>Date*</label>-->
<!--<input type="text" class="input-group" id="release_date" [(ngModel)]="bookModel.releaseDate" name="release_date">-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<label for="language" class="label-group" required>Language*</label>-->
<!--<input type="text" class="input-group" id="language" [(ngModel)]="bookModel.language" name="language">-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<label for="pages" class="label-group" required>Pages*</label>-->
<!--<input type="text" class="input-group" id="pages" [(ngModel)]="bookModel.pages" name="pages">-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<label for="description"  class="label-group">Description</label>-->
<!--<input type="text" class="input-group" id="description" [(ngModel)]="bookModel.description" name="description">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<button type="submit" class="button">Add announcement</button>-->
<!--</div>-->
<!--</form>-->


<!--<form [formGroup]="form" class="form-container" (ngSubmit)="addAnnouncementComponent()">-->
<!--<h2>Write your data</h2>-->
<!--<div class="form-group">-->
<!--<label for="title" class="label-group" required>Title*</label>-->
<!--<input type="text" class="input-group" id="title" [(ngModel)]="bookModel.title" [ngModelOptions]="{standalone: true}" name="title">-->
<!--</div>-->

<!--<div class="form-group" *ngFor="let obj of dataarray; let i=index">-->
<!--<label for="author" class="label-group" required>Author*</label>-->
<!--<input type="text" class="input-group" id="author" [(ngModel)]="obj.name" [ngModelOptions]="{standalone: true}" name="author{{i}}">-->
<!--<div *ngIf="i!=0">-->
<!--<span (click)="removeForm(i)" class="btn btn-danger">-</span>-->
<!--</div>-->
<!--</div>-->
<!--<span (click)="addForm()" class="btn btn-success">+</span>-->

<!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;<label formArrayName="orders" *ngFor="let order of form.controls.orders.controls; let i = index">&ndash;&gt;-->
<!--&lt;!&ndash;<input type="checkbox" [formControlName]="i">&ndash;&gt;-->
<!--&lt;!&ndash;{{ordersData[i].genreName}}&ndash;&gt;-->
<!--&lt;!&ndash;</label>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<div class="form-group">-->
<!--<label for="imagePath" class="label-group">Image Path</label>-->
<!--<input type="text" class="input-group" id="imagePath" [(ngModel)]="bookModel.imagePath" [ngModelOptions]="{standalone: true}" name="imagePath">-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<label for="release_date" class="label-group" required>Date*</label>-->
<!--<input type="text" class="input-group" id="release_date" [(ngModel)]="bookModel.releaseDate" [ngModelOptions]="{standalone: true}" name="release_date">-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<label for="language" class="label-group" required>Language*</label>-->
<!--<input type="text" class="input-group" id="language" [(ngModel)]="bookModel.language" [ngModelOptions]="{standalone: true}" name="language">-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<label for="pages" class="label-group">Pages</label>-->
<!--<input type="text" class="input-group" id="pages" [(ngModel)]="bookModel.pages" [ngModelOptions]="{standalone: true}" name="pages">-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<label for="description"  class="label-group">Description</label>-->
<!--<input type="text" class="input-group" id="description" [(ngModel)]="bookModel.description" [ngModelOptions]="{standalone: true}" name="description">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<button type="submit" class="button">Add book</button>-->
<!--</div>-->
<!--</form>-->

<!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
<!--<div class="login-form container">-->
  <!--<form [formGroup]="loginForm" (ngSubmit)="addAnnouncementComponent()" novalidate>-->
    <!--<div class="row">-->
      <!--<div class="col-sm-8 col-md-6 col-lg-4 mx-auto">-->
        <!--<h2>Authorization</h2>-->

        <!--<div class="form-group">-->
          <!--<input type="text" class="form-control" [ngClass]="{'is-invalid':  loginForm.get('title').invalid && loginForm.controls['title'].touched,-->
                   <!--'is-valid': loginForm.get('title').valid}" name="title" placeholder="Enter title"-->
                 <!--formControlName="title"-->
                 <!--required/>-->
          <!--<div class="invalid-feedback"-->
               <!--*ngIf="loginForm.get('title').invalid && loginForm.controls['title'].touched">-->
            <!--{{getValidationMessage('title').message}}-->
          <!--</div>-->
        <!--</div>-->


        <!--<div class="form-group">-->
          <!--<table>-->
            <!--<tr *ngFor="let author of authorsSend">-->
              <!--<td>{{author.fullName}}</td>-->
              <!--<td>-->
                <!--<button type="button" (click)="removeContact(author)" class="btn btn-danger">Delete</button>-->
              <!--</td>-->
            <!--</tr>-->
          <!--</table>-->
          <!--<input type="text" #fullName placeholder="Enter Name Surname" [formControl]="control"-->
                 <!--[matAutocomplete]="auto" class="form-control" name="author">-->
          <!--<mat-autocomplete #auto="matAutocomplete">-->
            <!--<mat-option *ngFor="let author of filteredAuthors | async" [value]="author.fullName">-->
              <!--{{author.fullName}}-->
            <!--</mat-option>-->
          <!--</mat-autocomplete>-->
          <!--<button type="button" (click)="addContact(fullName.value)" class="btn btn-info">Add author</button>-->
        <!--</div>-->


        <!--<div class="form-group">-->
          <!--<select class="custom-select" multiple formControlName="genres" name="genres" [ngClass]="{'is-invalid':  loginForm.get('genres').invalid && loginForm.controls['genres'].touched,-->
        <!--'is-valid': loginForm.get('genres').valid}" required>-->
            <!--<option *ngFor="let i of optionsSelect" value={{i.genreId}}>{{i.genreName}}</option>-->
          <!--</select>-->
          <!--<div class="invalid-feedback"-->
               <!--*ngIf="loginForm.get('genres').invalid && loginForm.controls['genres'].touched">-->
            <!--{{getValidationMessage('genres').message}}-->
          <!--</div>-->
        <!--</div>-->


        <!--<div class="form-group">-->
          <!--<input type="date" class="form-control" [ngClass]="{'is-invalid':  loginForm.get('date').invalid && loginForm.controls['date'].touched,-->
        <!--'is-valid': loginForm.get('date').valid}" name="date"-->
                 <!--formControlName="date" required/>-->
          <!--<div class="invalid-feedback"-->
               <!--*ngIf="loginForm.get('date').invalid && loginForm.controls['date'].touched">-->
            <!--{{getValidationMessage('date').message}}-->
          <!--</div>-->
        <!--</div>-->


        <!--<div class="form-group">-->
          <!--<input type="text" class="form-control"-->
                 <!--[ngClass]="{'is-invalid':  loginForm.get('imagePath').invalid && loginForm.controls['imagePath'].touched,-->
        <!--'is-valid': loginForm.get('imagePath').valid}"-->
                 <!--name="imagePath" placeholder="Enter image url" formControlName="imagePath"-->
                 <!--required/>-->
          <!--<div class="invalid-feedback"-->
               <!--*ngIf="loginForm.get('imagePath').invalid && loginForm.controls['imagePath'].touched">-->
            <!--{{getValidationMessage('imagePath').message}}-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="form-group">-->
          <!--<input type="number" min="1" class="form-control"-->
                 <!--[ngClass]="{'is-invalid':  loginForm.get('pages').invalid && loginForm.controls['pages'].touched,-->
        <!--'is-valid': loginForm.get('pages').valid}"-->
                 <!--name="imgPath" placeholder="Number of pages" formControlName="pages"-->
                 <!--required/>-->
          <!--<div class="invalid-feedback"-->
               <!--*ngIf="loginForm.get('pages').invalid && loginForm.controls['pages'].touched">-->
            <!--{{getValidationMessage('pages').message}}-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="form-group">-->
          <!--<input type="text" class="form-control" name="description" placeholder="Enter description"/>-->
        <!--</div>-->


        <!--<div class="form-row">-->
          <!--<div class="form-group mb-3 col-sm-6">-->
            <!--<button [disabled]="loginForm.invalid" class="btn btn-block btn-orange">Login</button>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</form>-->
<!--</div>-->


<div class="register-form container">
  <form [formGroup]="addForm" (ngSubmit)="addAnnouncementComponent()" name="form" novalidate>
    <div class="row">
      <div class="col-sm-8 col-md-6 col-lg-4 mx-auto">
        <h2>Add book or announcement</h2>

        <div class="form-group">
          <input type="text" class="form-control"
                 [ngClass]="{'is-invalid':  addForm.get('title').invalid && addForm.controls['title'].touched,
'is-valid': addForm.get('title').valid}"
                 name="title" placeholder="Enter title" formControlName="title"
                 required/>
          <div class="invalid-feedback"
               *ngIf="addForm.get('title').invalid && addForm.controls['title'].touched">
            {{getValidationMessage('title').message}}
          </div>
        </div>


        <div class="form-group">
          <table>
            <tr *ngFor="let author of authorsSend">
              <td>{{author.fullName}}</td>
              <td>
                <button type="button" (click)="removeContact(author)" class="btn btn-danger">Delete</button>
              </td>
            </tr>
          </table>
          <input type="text" #fullName placeholder="Enter Name Surname" [formControl]="control"
                 [matAutocomplete]="auto" class="form-control"  name="date">

          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let author of filteredAuthors | async" [value]="author.fullName">
              {{author.fullName}}
            </mat-option>
          </mat-autocomplete>
          <button type="button" (click)="addContact(fullName.value)" class="btn btn-info">Add author</button>
        </div>


        <div class="form-group">
          <select class="custom-select" multiple formControlName="genres" name="genres" [ngClass]="{'is-invalid':  addForm.get('genres').invalid && addForm.controls['genres'].touched,
'is-valid': addForm.get('genres').valid}" required>
            <option *ngFor="let i of optionsSelect" value={{i.genreId}}>{{i.genreName}}</option>
          </select>
          <div class="invalid-feedback"
               *ngIf="addForm.get('genres').invalid && addForm.controls['genres'].touched">
            {{getValidationMessage('genres').message}}
          </div>
        </div>


        <div class="form-group">
          <input type="date" class="form-control" [ngClass]="{'is-invalid':  addForm.get('date').invalid && addForm.controls['date'].touched,
'is-valid': addForm.get('date').valid}" name="date"
                 formControlName="date" required/>
          <div class="invalid-feedback"
               *ngIf="addForm.get('date').invalid && addForm.controls['date'].touched">
            {{getValidationMessage('date').message}}
          </div>
        </div>


        <div class="form-group">
          <input type="text" class="form-control"
                 [ngClass]="{'is-invalid':  addForm.get('imagePath').invalid && addForm.controls['imagePath'].touched,
'is-valid': addForm.get('imagePath').valid}"
                 name="imagePath" placeholder="Enter image url" formControlName="imagePath"
                 required/>
          <div class="invalid-feedback"
               *ngIf="addForm.get('imagePath').invalid && addForm.controls['imagePath'].touched">
            {{getValidationMessage('imagePath').message}}
          </div>
        </div>

        <div class="form-group">
          <input type="number" min="1" class="form-control"
                 [ngClass]="{'is-invalid':  addForm.get('pages').invalid && addForm.controls['pages'].touched,
'is-valid': addForm.get('pages').valid}"
                 name="imgPath" placeholder="Number of pages" formControlName="pages"
                 required/>
          <div class="invalid-feedback"
               *ngIf="addForm.get('pages').invalid && addForm.controls['pages'].touched">
            {{getValidationMessage('pages').message}}
          </div>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" name="description" placeholder="Enter description"
                 formControlName="description"   />
        </div>

        <div class="form-row">
          <div class="form-group mb-3 col-sm-12">
            <button type="submit" class="btn btn-block btn-success" [disabled]="addForm.invalid">
              Add
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
