<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<h4 class="text-left pl-3 mt-3">Списки книг</h4><br>
<section class="search-sec">
	<div class="container">
		<form action="#" method="post" novalidate="novalidate">
			<div class="row">
				<div class="col-lg-12">
					<div class="row">
						<div class="col-lg-6 col-md-3 col-sm-12 p-0">
							<input (input)="onSearchChange($event.target.value)" type="text" class="form-control search-slt" placeholder="Шукати" >
						</div>
						<div class="col-lg-3 col-md-3 col-sm-12 p-0">
							<select (input)="onWhereChange($event.target.value)" class="form-control search-slt" id="exampleFormControlSelect1">
								<option value="read">Прочитані книги</option>
								<option value="favourites">Улюблені книги</option>
								<option value="reading">Читаються</option>
							</select>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-12 p-0">
							<button type="button" class="btn" (click)="find()">Пошук</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>
<div class="panel-result">
	<div class="panel-heading">Результат</div>
	<div *ngIf="books.length == 0" class="empty-result">
		Список книг порожній.
		<br>
		<a href="homeath/recommendations">
			Перейти в рекомендації
		</a>
	</div>
	<div class="panel-body">
		<div class="row">   
			<div class="col-md-12"  *ngFor="let book of this.books; let bookIndex= index">
				<div class="thumbnail">
					<img alt="no img" src="{{ this.getPhoto(book.image_path) }}">
					<div class="caption">
						<div class="title"><a href="books/{{ book.title }}">
						{{ book.title  }}</a></div>
						<div class="authors" *ngFor="let author of book.authors">
							<a href="authors/{{ author }}">
							{{ author  }}</a>
						</div>
					</div>
					<form class="form cf">
						<section class="plan cf">
							<div *ngIf="disableEdit">
							<input  type="checkbox" [(ngModel)]="book.remove" name="remove{{ bookIndex }}" id="checkbox{{ bookIndex }}"><label class="col" for="checkbox{{ bookIndex }}">Видалити</label>
							</div>
							<input [disabled]="!disableEdit" [(ngModel)]="book.favourite" name="favourite{{ bookIndex }}" type="checkbox" id="checkbox2{{ bookIndex }}" [checked]="book.favourite"><label class="col" for="checkbox2{{ bookIndex }}">Улюблена</label>

							<input [disabled]="!disableEdit" type="radio" (change)="onReadingChange(bookIndex, false)" name="radio{{ bookIndex }}" id="radio{{ bookIndex }}"[checked]="!book.reading"><label class="col" for="radio{{ bookIndex }}">Прочитана</label>

							<input [disabled]="!disableEdit" type="radio" (change)="onReadingChange(bookIndex, true)" name="radio{{ bookIndex }}" id="radio2{{ bookIndex }}" [checked]="book.reading"><label class="col" for="radio2{{ bookIndex }}">Читається</label>
						</section>
						<div *ngIf="disableEdit">
						<input class="submit" type="submit" value="Зберегти" (click)="onClick(bookIndex)">
						</div>	
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<br><br>
<div
  infiniteScroll
  [infiniteScrollDistance]="3"
  [infiniteScrollThrottle]="1"
  (scrolled)="onPageChanged()">
</div>
