<!--<div class="addForm">
  <h2>Add book</h2>
  <form (ngSubmit)="addBookComponent()" #heroForm="ngForm">
    &lt;!&ndash;<div class="form-group">
      <label for="bookid" class="label-group">Id</label>
      <input type="text" class="input-group" id="bookid" required [(ngModel)]="model.bookid" name="bookid" #bookid="ngModel">
    </div>&ndash;&gt;

    <div class="form-group">
      <label for="title" class="label-group" required>Title*</label>
      <input type="text" class="input-group" id="title" [(ngModel)]="bookModel.title" name="title">
    </div>

    <div class="form-group">
      <label for="author" class="label-group" required>Author(-s)*</label>
      <input type="text" class="input-group" id="author" [(ngModel)]="bookModel.author" name="author">
    </div>

    <div class="form-group">
      <label for="genre" class="label-group" required>Genre*</label>
      &lt;!&ndash;<p><input type="checkbox" class="input-group" name="a" value="1417"> 1417</p>
      <p><input type="checkbox" class="input-group" name="a" value="1680" checked> 1680</p>
      <p><input type="checkbox" class="input-group" name="a" value="1883" checked> 1883</p>
      <p><input type="checkbox" class="input-group" name="a" value="1934"> 1934</p>
      <p><input type="checkbox" class="input-group" name="a" value="2010"> 2010</p>&ndash;&gt;
      <input type="text" class="input-group" id="genre" [(ngModel)]="bookModel.genre" name="genre">
    </div>

    &lt;!&ndash;<div class="form-group">
      <label for="like" class="label-group">Like</label>
      <input type="text" class="input-group" id="like" [(ngModel)]="bookModel.like" name="like">
    </div>&ndash;&gt;

    <div class="form-group">
      <label for="imagePath" class="label-group">Image Path</label>
      <input type="text" class="input-group" id="imagePath" [(ngModel)]="bookModel.imagePath" name="imagePath">
    </div>

    <div class="form-group">
      <label for="release_date" class="label-group" required>Date*</label>
      <input type="text" class="input-group" id="release_date" [(ngModel)]="bookModel.release_date" name="release_date">
    </div>

    <div class="form-group">
      <label for="language" class="label-group" required>Language*</label>
      <input type="text" class="input-group" id="language" [(ngModel)]="bookModel.language" name="language">
    </div>

    <div class="form-group">
      <label for="pages" class="label-group" required>Pages*</label>
      <input type="text" class="input-group" id="pages" [(ngModel)]="bookModel.pages" name="pages">
    </div>

    <div class="form-group">
      <label for="description"  class="label-group">Description</label>
      <input type="text" class="input-group" id="description" [(ngModel)]="bookModel.description" name="description">
    </div>

    &lt;!&ndash;<div class="form-group">
      <label for="approved"  class="label-group">Approved</label>
      <input type="text" class="input-group" id="approved" [(ngModel)]="bookModel.approved" name="approved">
    </div>&ndash;&gt;
    <div class="form-group">
      <button type="submit" class="button">Add book</button>
    </div>
  </form>
</div>-->

<!--<div class="picture-buttons">-->
  <!--<button class="button button-gray" (click)="openForm()">Add Book</button>-->
<!--</div>-->

<!--<div class="addForm-popup" id="myForm">-->
  <!--<form class="form-container" (ngSubmit)="addBookComponent()">-->
    <!--<h2>Write your data</h2>-->
    <!--<div class="form-group">-->
      <!--<label for="title" class="label-group" required>Title*</label>-->
      <!--<input type="text" class="input-group" id="title" [(ngModel)]="bookModel.title" name="title">-->
    <!--</div>-->

    <!--<div class="form-group">-->
      <!--<label for="author" class="label-group" required>Author(-s)*</label>-->
      <!--<input type="text" class="input-group" id="author" [(ngModel)]="bookModel.authors" name="author">-->
    <!--</div>-->

    <!--<div class="form-group">-->
      <!--<label for="genre" class="label-group" required>Genre*</label>-->
      <!--<input type="text" class="input-group" id="genre" [(ngModel)]="bookModel.genres" name="genre">-->
    <!--</div>-->

    <!--<div class="form-group">-->
      <!--<label for="imagePath" class="label-group">Image Path</label>-->
      <!--<input type="text" class="input-group" id="imagePath" [(ngModel)]="bookModel.imagePath" name="imagePath">-->
    <!--</div>-->

    <!--<div class="form-group">-->
      <!--<label for="release_date" class="label-group" required>Date*</label>-->
      <!--<input type="text" class="input-group" id="release_date" [(ngModel)]="bookModel.releaseDate" name="release_date">-->
    <!--</div>-->

    <!--<div class="form-group">-->
      <!--<label for="language" class="label-group" required>Language*</label>-->
      <!--<input type="text" class="input-group" id="language" [(ngModel)]="bookModel.language" name="language">-->
    <!--</div>-->

    <!--<div class="form-group">-->
      <!--<label for="pages" class="label-group" required>Pages*</label>-->
      <!--<input type="text" class="input-group" id="pages" [(ngModel)]="bookModel.pages" name="pages">-->
    <!--</div>-->

    <!--<div class="form-group">-->
      <!--<label for="description"  class="label-group">Description</label>-->
      <!--<input type="text" class="input-group" id="description" [(ngModel)]="bookModel.description" name="description">-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<button type="submit" class="button">Add book</button>-->
      <!--<button type="button" class="btn cancel" (click)="closeForm()">Close</button>-->
    <!--</div>-->
  <!--</form>-->
<!--</div>-->

<div class="picture-buttons">
  <button class="button button-gray" (click)="openForm()">Add Book</button>
</div>

<div class="addForm-popup" id="myForm">
  <form [formGroup]="form" class="form-container" (ngSubmit)="addBookComponent()">
    <h2>Write your data</h2>
    <div class="form-group">
      <label for="title" class="label-group" required>Title*</label>
      <input type="text" class="input-group" id="title" [(ngModel)]="bookModel.title" [ngModelOptions]="{standalone: true}" name="title">
    </div>

    <div class="form-group" *ngFor="let obj of dataarray; let i=index">
      <label for="author" class="label-group" required>Author*</label>
      <input type="text" class="input-group" id="author"  [(ngModel)]="obj.name" [ngModelOptions]="{standalone: true}" name="author{{i}}">


      <div *ngIf="i!=0">
        <span (click)="removeForm(i)" class="btn btn-danger">-</span>
      </div>
    </div>


    <span (click)="addForm()" class="btn btn-success">+</span>

    <div class="form-group">
      <label formArrayName="orders" *ngFor="let order of form.controls.orders.controls; let i = index">
        <input type="checkbox" [formControlName]="i">
        {{ordersData[i].genreName}}
      </label>
    </div>

    <div class="form-group">
      <label for="imagePath" class="label-group">Image Path</label>
      <input type="text" class="input-group" id="imagePath" [(ngModel)]="bookModel.imagePath" [ngModelOptions]="{standalone: true}" name="imagePath">
    </div>

    <div class="form-group">
      <label for="release_date" class="label-group" required>Date*</label>
      <input type="text" class="input-group" id="release_date" [(ngModel)]="bookModel.releaseDate" [ngModelOptions]="{standalone: true}" name="release_date">
    </div>

    <div class="form-group">
      <label for="language" class="label-group" required>Language*</label>
      <input type="text" class="input-group" id="language" [(ngModel)]="bookModel.language" [ngModelOptions]="{standalone: true}" name="language">
    </div>

    <div class="form-group">
      <label for="pages" class="label-group">Pages</label>
      <input type="text" class="input-group" id="pages" [(ngModel)]="bookModel.pages" [ngModelOptions]="{standalone: true}" name="pages">
    </div>

    <div class="form-group">
      <label for="description"  class="label-group">Description</label>
      <input type="text" class="input-group" id="description" [(ngModel)]="bookModel.description" [ngModelOptions]="{standalone: true}" name="description">
    </div>
    <div class="form-group">
      <button type="submit" class="button">Add book</button>
      <button type="button" class="btn cancel" (click)="closeForm()">Close</button>
    </div>
  </form>
</div>



<div class="blog-books">
  <div class="test" *ngFor="let book of books">
    <a href="#" class="blog-item">
      <div class="book-image-grid">
        <img src="../../assets/img/{{book.imagePath}}" alt="Example" class="book-logo">
      </div>
      <div class="book-item-content" >
        <h3>{{book.title}}</h3>
        <p>Автор: {{book.authors}} </p>
        <p>Жанр: {{book.genres}}</p>
        <p>Дата выпуска: {{book.releaseDate}}</p>
        <p>Лайки: {{book.likes}}</p>
        <p>Язык книги: {{book.language}}</p>
        <p>Страницы: {{book.pages}}</p>
        <p>Описание: {{book.description}}</p>
       <!-- <input placeholder={{book.title}}>-->
      </div>
      <div class="picture-buttons">
        <button class="button button-gray">Delete</button>
        <button class="button button-gray">Update</button>
      </div>
    </a>

  </div>
</div>
