<div class="container emp-profile">
	<form method="post">
		<div class="row">
			<div class="col-md-4">
				<div class="profile-img">
					<img src="{{ this.getPhoto(this.user.avatarFilePath) }}" alt="no image"/>
				</div>
			</div>
			<div class="col-md-6">
				<div class="profile-head">
					<h5>
						{{ this.user.username }}
					</h5>
					<h6>
						"{{ this.user.status }}"
					</h6>
					<p title="{{ this.achievement.description }}" class="proile-rating">Досягнення :
						{{ this.achievement.title }}
						<img src="{{ this.achievement.image_path }}"/>
					</p>
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-2" *ngIf="this.isOwnProfile">
				<input  type="submit" class="profile-edit-btn" name="btnAddMore" value="Редаугвати"
				(click)="goEdit()"/>
			</div>
			<div class="col-md-2" *ngIf="!this.isOwnProfile && !this.isFriend">
				<input  type="submit" class="profile-edit-btn" name="btnAddMore" value="Додати до друзів"
				(click)="addFriend()"/>
			</div>
			<div class="col-md-2" *ngIf="!this.isOwnProfile && this.isFriend">
				<input  type="submit" class="profile-edit-btn" name="btnAddMore" value="Видалити з друзів"
				(click)="deleteFriend()"/>
			</div>

		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="friends">
					<p>Друзі</p>
					<div *ngFor="let friend of this.friends"> 
						<img src="{{ this.getPhoto(friend.avatarFilePath) }}" alt="no"/>
						<a href="homeath/profile/{{ friend.username }}">
						{{ friend.username }}</a>
					</div><br>
					<div class="all-friends">
						<a href="homeath/profile/{{ this.user.username }}/friends">
							...всі друзі
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="tab-content profile-tab" id="myTabContent">
					<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
						<div class="row">
							<div class="col-md-6">
								<label>Ім'я</label>
							</div>
							<div class="col-md-6">
								<p>{{ this.user.firstName }}</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>Email</label>
							</div>
							<div class="col-md-6">
								<p>{{ this.user.email }}</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>Стать</label>
							</div>
							<div class="col-md-6">
								<p>{{ this.user.sex }}</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>Країна</label>
							</div>
							<div class="col-md-6">
								<p>{{ this.user.country }}</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>Місто</label>
							</div>
							<div class="col-md-6">
								<p>{{ this.user.city }}</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>На сайті з</label>
							</div>
							<div class="col-md-6">
								<p>{{ this.user.regDate }}</p>
							</div>
						</div>
					</div>
					<br><br>
				</div>
				<!-- ------------------------------------------------------------------->
				<div class="panel">
					<div class="panel-heading"><a href="homeath/profile/{{ this.user.username }}/favourite-books">Улюблені книги</a></div>
					<div class="panel-body" >
						<div class="row">	
							<div class="col-md-4"  *ngFor="let book of this.favouriteBooks">
								<div class="thumbnail">
									<img alt="no img" src="{{ this.getPhoto(book.image_path) }}">
									<div class="caption">
										<a href="books/{{ book.title }}">
										{{ book.title  }}</a>
										<div class="authors" *ngFor="let author of book.authors">
											<a href="authors/{{ author }}">
											{{ author  }}</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<a *ngIf="this.favouriteBooks.length == 3" class="right-align" href="homeath/profile/{{ this.user.username }}/reading-books">...переглянути всі</a>
				</div>
				<br><br>

				<div class="panel">
					<div class="panel-heading"><a href="homeath/profile/{{ this.user.username }}/read-books">Прочитані книги</a></div>
					<div class="panel-body">
						<div class="row">	
							<div class="col-md-4" *ngFor="let book of this.readBooks">
								<div class="thumbnail">
									<img alt="no img" src="{{ this.getPhoto(book.image_path)}}">
									<div class="caption">
										<a href="books/{{ book.title }}">
										{{ book.title  }}</a>
										<div class="authors" *ngFor="let author of book.authors">
											<a href="authors/{{ author }}">
											{{ author  }}</a>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
					<a *ngIf="this.favouriteBooks.length == 3" class="right-align" href="homeath/profile/{{ this.user.username }}/reading-books">...переглянути всі</a>	
				</div>
				<br><br>

				<div class="panel">
					<div class="panel-heading">
						<a href="homeath/profile/{{ this.user.username }}/reading-books">Читаються</a>
						
					</div>
					<div class="panel-body">
						<div class="row">	
							<div class="col-md-4" *ngFor="let book of this.readingBooks">
								<div class="thumbnail">
									<img alt="no img" src="{{ this.getPhoto(book.image_path) }}">
									<div class="caption">
										<a href="books/{{ book.title }}">
										{{ book.title  }}</a>
										<div class="authors" *ngFor="let author of book.authors">
											<a href="authors/{{ author }}">
											{{ author  }}</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<a *ngIf="this.favouriteBooks.length == 3" class="right-align" href="homeath/profile/{{ this.user.username }}/reading-books">...переглянути всі</a>
				</div>
				<br><br>

				<!-- ------------------------------------------------------------------->
			</div>
		</div>

	</form>           
</div>