
  <div class="year-grid">
    <div class="box">
      <form>
        <select>
          <option>2019</option>
          <option>2018</option>
          <option>2017</option>
          <option>2016</option>
          <option>2015</option>
        </select>
      </form>
    </div>
  </div>
  <div class="month-grid">
    <div class="box">
      <form>
        <select>
          <option>Все месяцы</option>
          <option>Сентябрь</option>
          <option>Октябрь</option>
          <option>Ноябрь</option>
          <option>Декабрь</option>
        </select>
      </form>
    </div>
  </div>
  <div class="blog-books">
    <div class="test" *ngFor="let book of books">
      <a href="#" class="blog-item">
        <div class="book-image-grid">
          <img src="{{book.image_path}}" alt="Example" class="book-logo">
        </div>
        <div class="book-item-content" >
          <h3>{{book.title}}</h3>
          <p>Описание: {{book.description}} </p>
          <!--<p>Жанр: {{book.genre}}</p>-->
          <!--<p>Дата выпуска: {{book.date}}</p>-->
          <!--<p>Язык книги: {{book.language}}</p>-->
        </div>
      </a>
    </div>
  </div>
  <ngb-pagination class="d-flex justify-content-center" [collectionSize]="collectionSize" [pageSize]="booksPerPage" [(page)]="page" [boundaryLinks]="true" (pageChange)="onPageChanged($event)"></ngb-pagination>


