<!--<div class="container p-4">
  <div class="row">
    <div class="col-6">
      <div class="year-grid">
        <div class="box">
          <formAuthor>
            <label>Years:</label>
            <select>
              <option>2019</option>
              <option>2018</option>
              <option>2017</option>
              <option>2016</option>
              <option>2015</option>
            </select>
          </formAuthor>
        </div>
      </div>
    </div>-->

    <!--<div class="col-6">-->
      <!--<div class="month-grid">-->
        <!--<div class="box">-->
          <!--<formAuthor>-->
            <!--<label>Genre:</label>-->
            <!--<select [(ngModel)]="selectedGenre" name="genre">-->
              <!--<option value="all" selected>All</option>-->
              <!--<option *ngFor="let genre of genres" [value]="genre.genreName">-->
                <!--{{genre.genreName}}-->
              <!--</option>-->
            <!--</select>-->
          <!--</formAuthor>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

 <!-- <div class="row p-4">
    <div class="test col-md-6" *ngFor="let book of books">
      <a [routerLink]="[book.bookId]" class="blog-item m-2">
        <div class="container blog-item-color">
          <div class="row">
            <div class="col-6">
              <div class="book-image-grid">
                <img src="../../assets/img/{{book.imagePath}}" alt="Example" class="book-logo">
              </div>
            </div>

            <div class="col-6">
              <div class="book-item-content">
                <h3>{{book.title}}</h3>
                <p>Описание: {{book.description}} </p>
                <p>Жанр: {{book.genres}}</p>
                <p>Автор: {{book.authors}}</p>
                &lt;!&ndash;<p>Дата выпуска: {{book.date}}</p>&ndash;&gt;
                &lt;!&ndash;<p>Язык книги: {{book.language}}</p>&ndash;&gt;
              </div>
            </div>
          </div>
        </div>
        &lt;!&ndash;<div class="book-image-grid">
          <img src="../../assets/img/{{book.image_path}}" alt="Example" class="book-logo">
        </div>&ndash;&gt;
        &lt;!&ndash;<div class="book-item-content" >
          <h3>{{book.title}}</h3>
          <p>Описание: {{book.description}} </p>
          &lt;!&ndash;<p>Жанр: {{book.genre}}</p>&ndash;&gt;
          &lt;!&ndash;<p>Дата выпуска: {{book.date}}</p>&ndash;&gt;
          &lt;!&ndash;<p>Язык книги: {{book.language}}</p>&ndash;&gt;
        </div>&ndash;&gt;
      </a>
    </div>
  </div>
  <ngb-pagination class="d-flex justify-content-center" [collectionSize]="collectionSize" [pageSize]="booksPerPage" [(page)]="page" [boundaryLinks]="true" (pageChange)="onPageChanged($event)"></ngb-pagination>
</div>-->


  <div class="container pt-3">
    <div class="row">

      <div class="test col-md-6 mb-2" *ngFor="let book of books">
        <a [routerLink]="[book.bookId]" class="blog-item">
          <div class="container blog-item-color">
            <div class="row">
              <!--<div class="col-12 p-0">
                <h3>{{book.title}}</h3>
              </div>-->
              <div class="col-2 p-0">
                <img src="../../assets/img/{{book.imagePath}}" alt="Example" class="book-logo"
                     (error)="$event.target.src=getPhoto('default_book_photo')">
              </div>
              <div class="col-4">
                <div class="book-item-content">
                  <h3>{{book.title}}</h3>
                  <p>Author(s): {{book.authors}} </p>
                  <p>Genres: {{book.genres}}</p>
                  <p>Publish date: {{book.releaseDate}}</p>
<!--                 <p>Description: {{book.description}}</p>-->
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <ngb-pagination class="d-flex justify-content-center" [collectionSize]="collectionSize" [pageSize]="booksPerPage" [(page)]="page" [boundaryLinks]="true" (pageChange)="onPageChanged($event)"></ngb-pagination>
  </div>
