<div class="item-book" *ngIf="book">
  <div class="book-logo"><img src="{{book.imagePath}}" alt="Example"></div>
  <div class="book-content">
    <h3>{{book.title}} - {{book.authors}}</h3>
    <div class="like-book-content">
<!--      <div class="like-img-book"><img src="../../assets/img/like_img.jpeg"/></div>-->
      <div class="like-num"><p>Likes: {{book.likes}}</p></div>
    </div>

    <p>Publish date: {{book.releaseDate}}</p>
    <p>Genres: {{book.genres}}</p>
    <p>{{book.imagePath}}</p>
<!--    <p>Language: {{book.langua}}</p>-->
    <p>Pages: {{book.pages}}</p>
    <p>Description: {{book.description}} </p>
    <button class="button-add-book-to-profile">Додати книгу</button>
  </div>

</div>

<div class="review-blog">
  <div class="review-title"><h2>Reviews</h2></div>
  <div class="button-write-review"><button>Написати рецензію</button></div>
</div>

<div class="reviews" *ngFor="let review of reviews">
  <div class="review-item">
    <div class="user-image">
      <img src="{{review.userAvatarPath}}" class="user-logo">
    </div>
    <div class="review-content">
      <div class="user-name"><h4>{{review.userName}}</h4></div>
      <div class="rating">
        <div class="like-img-review">
          <img src="../../assets/img/like_img.jpeg"/>
        </div>
        <h5>{{review.rating}}</h5>
      </div>
      <div class="review-text"> {{review.reviewText}}</div>
    </div>
  </div>
</div>
<div *ngIf="finish; then up else down"></div>
<ng-template #up><input type="image" class="paging-button" (click)="getNewPeaceOfReviews()" src="../../assets/img/upArrow.png" alt="Ще"/></ng-template>
<ng-template #down><input type="image" class="paging-button" (click)="getNewPeaceOfReviews()" src="../../assets/img/130907.png" alt="Ще"/></ng-template>

<!--<ngb-pagination class="d-flex justify-content-center" [collectionSize]="collectionSize" [pageSize]="count"-->
<!--                [(page)]="offset" [boundaryLinks]="false" (pageChange)="getNewPeaceOfReviews($event)"></ngb-pagination>-->

