/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body{
  height: 100%;
}

app-content-main {
  grid-column: 2 / 5;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  border-left: solid;
  border-color: #1a252b;
}

app-content-book {
  grid-column: 2 / 5;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-left: solid;
  border-color: #1a252b;
}


app-home{
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}

app-home-auth{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
