<div *ngIf="books">
  <ul class="books">
    <li *ngFor="let book of books" >
      <a class="blog-item"  [routerLink]="[book.bookId]">
        <div class="book-image-grid">
          <img src="../../assets/img/{{book.imagePath}}" alt="Example" class="book-logo">
        </div>
        <div class="book-item-content" >
          <h3>{{book.title}} - {{book.authors}}</h3>-->
          <p>Likes: {{book.likes}}</p>
          <p>Description: {{book.description}} </p>
        </div>
      </a>
    </li>
  </ul>
</div>
<!--<div class="blog-books">-->
<!--  <div class="books" *ngFor="let book of books">-->
<!--    <a class="blog-item"  [routerLink]="[book.bookId]">-->
<!--      <div class="book-image-grid">-->
<!--        <img src="../../assets/img/{{book.imagePath}}" alt="Example" class="book-logo">-->
<!--      </div>-->
<!--      <div class="book-item-content" >-->
<!--        <h3>{{book.title}} - {{book.authors}}</h3>&ndash;&gt;-->
<!--        <p>Likes: {{book.likes}}</p>-->
<!--        <p>Description: {{book.description}} </p>-->
<!--      </div>-->
<!--    </a>-->
<!--  </div>-->
<!--</div>-->
