<form>
  <label>Genre</label>
  <select [(ngModel)]="selectedGenre" name="genre">
    <option value="all" selected>All</option>
    <option *ngFor="let genre of genres" [value]="genre.genreName">
      {{genre.genreName}}
    </option>
  </select>
</form>

<form>
  <input type="text" placeholder="author" [formControl]="control" [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let author of filteredAuthors | async" [value]="author.fullName">
      {{author.fullName}}
    </mat-option>
  </mat-autocomplete>
</form>

<!--
<mat-form-field>
  <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="pickerFrom" placeholder="Announcement date from" [formControl]="date">
  <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
  <mat-datepicker #pickerFrom></mat-datepicker>
</mat-form-field>

<mat-form-field>
  <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="pickerTo" placeholder="Announcement date to" [formControl]="date">
  <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
  <mat-datepicker #pickerTo></mat-datepicker>
</mat-form-field>
-->

<p>Selected genre: {{selectedGenre}}</p>
<p>Selected author: {{control.value}}</p>

<div *ngIf="books">
  <ul class="books">
    <li *ngFor="let book of books" >
      <a class="blog-item"  [routerLink]="[book.bookId]">
        <div class="book-image-grid">
          <img src="../../assets/img/{{book.imagePath}}" alt="Example" class="book-logo">
        </div>
        <div class="book-item-content" >
          <h3>{{book.title}} - {{book.authors}}</h3>
          <p>Likes: {{book.likes}}</p>
          <p>Description: {{book.description}} </p>
        </div>
      </a>
    </li>
  </ul>
</div>
