<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/
font-awesome.min.css">
<div class="messaging">
  <div class="inbox_msg">
	<div class="inbox_people">
	  <div class="headind_srch">
		<div class="chats_heading">
		  <h4>Чати <button *ngIf="activeChat" type="button" class="btn btn-light btn-settings" data-toggle="modal" data-target="#editChatModal"><i class="fa fa-cog"></i></button></h4> 
		</div>

	  </div>
	  <div class="inbox_chat scroll">
	  	<div *ngFor="let chat of chats">
			<div class="chat_list"  (click)="onClick(chat)" tabindex="1">
			  <div class="chat_people">
				<div class="chat_img"> <img src="https://icon-library.net/images/avatars-icon/avatars-icon-20.jpg" alt="no"> </div>
				<div class="chat_ib">
				  <h5>{{ chat }}</h5>
				</div>
			  </div>
			</div>
		</div>
		<div class="chat_list" data-toggle="modal" data-target="#newChatModal" tabindex="1">
			  <div class="chat_people">
				<div class="chat_img"> 
					<i class="fa fa-plus"></i> 
				</div>
				<div class="chat_ib">
				  <h5>Додати новий чат</h5>
				</div>
			  </div>
			</div>
	  </div>
	</div>
	<div class="mesgs">
	  <div class="msg_history">
	  	<!--------------------------->
		<div *ngFor="let message of messages">
			<div *ngIf="message.fromName == this.username">
				<div class="outgoing_msg">
			  		<div class="sent_msg">
						<p> {{message.message}} </p>
						<span class="time_date"> {{message.dateTimeSend}}</span> 
					</div>
				</div>
			</div>
			<div *ngIf="message.fromName != this.username">
				<div class="incoming_msg">
					<div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="no"> </div>
					<div class="received_msg">
						<div class="received_withd_msg">
							<p> {{message.message}} </p>
							<span class="time_date"> {{message.fromName}} {{message.dateTimeSend}} </span>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- -------------------------------------------- -->
	  </div>
	  <div class="type_msg">
		<div class="input_msg_write">
		  <input [(ngModel)]="msg" name="msg" type="text" class="write_msg" placeholder="Type a message" />
		  <button class="msg_send_btn" type="button" (click)="sendMessage()" ><i class="fa fa-paper-plane"></i></button>
		</div>
	  </div>
	</div>
  </div>
</div>

<!-- add new chat Modal -->
<div class="modal fade" id="newChatModal" tabindex="-1" role="dialog" aria-labelledby="newChatModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="newChatModalLabel">Створення нового чату</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="chat-name" class="col-form-label">Назва чату*</label>
						<label *ngIf="chatNameAlreadyExistError" for="chat-name" class="col-form-label text-danger"> (Назва чату вже інсує, виберіть іншу)</label>
						<input type="text" class="form-control" id="chat-name">
					</div>
						<p>Додати до чату:</p>
						<div *ngFor="let friend of this.friends"> 
							<div class="chat_list"  tabindex="1" (click)="onClickCheckBox(friend.username)">
								<div class="chat_people">
									<div class="chat_img"> 
										<img src="{{ this.getPhoto(friend.avatarFilePath) }}" alt="no"/>
									</div>
									<div class="chat_ib">
										<h5>{{ friend.username }}</h5>
										<div class="round">
											<input type="checkbox" id="checkbox{{friend.username}}" />
											<label for="checkbox{{friend.username}}"></label>
										</div>
									</div>
								</div>
							</div>
						</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" id="closeModal" data-dismiss="modal">Назад</button>
				<button type="button" class="btn btn-primary" (click)="checkNameIfExist()">Створити</button>
			</div>
		</div>
	</div>
</div>

<!-- edit chat Modal -->
<div class="modal fade" id="editChatModal" tabindex="-1" role="dialog" aria-labelledby="editChatModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="editChatModalLabel"> {{ activeChat }}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="chat-name2" class="col-form-label">Назва чату</label>
						<label *ngIf="chatNameAlreadyExistError" for="chat-name2" class="col-form-label text-danger"> (Назва чату вже інсує, виберіть іншу)</label>
						<input type="text" placeholder="{{activeChat}}"class="form-control" id="chat-name2">
					</div>
						<p>Учасники чату</p>
						<div *ngFor="let member of this.chatMembers"> 
							<div class="chat_list"  tabindex="1" (click)="onClickCheckBoxEditChat(member.username)">
								<div class="chat_people">
									<div class="chat_img"> 
										<img src="{{ this.getPhoto(member.avatarFilePath) }}" alt="no"/>
									</div>
									<div class="chat_ib">
										<h5>{{ member.username }}</h5>
										<div class="round">
											<input type="checkbox" checked="true"id="checkboxEditChat{{member.username}}" />
											<label for="checkboxEditChat{{member.username}}"></label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<p>Додати до чату:</p>
						<div *ngFor="let friend of this.friendsWhoAbleToAdd"> 
							<div class="chat_list" tabindex="2" (click)="onClickCheckBoxEditChat(friend.username)">
								<div class="chat_people">
									<div class="chat_img"> 
										<img src="{{ this.getPhoto(friend.avatarFilePath) }}" alt="no"/>
									</div>
									<div class="chat_ib">
										<h5>{{ friend.username }}</h5>
										<div class="round">
											<input type="checkbox" id="checkboxEditChat{{friend.username}}" />
											<label for="checkboxEditChat{{friend.username}}"></label>
										</div>
									</div>
								</div>
							</div>
						</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" id="closeModal2" data-dismiss="modal">Назад</button>
				<button type="button" class="btn btn-primary" (click)="editChat()">Зберегти</button>
			</div>
		</div>
	</div>
</div>

