

  <div class="logo-grid">
    <img src="../../assets/img/label.png" alt="Example" class="img-logo">
  </div>
  <div class="search">
    <div class="d1">
      <form>
        <input type="text" placeholder="Искать здесь...">
        <button type="submit"></button>
      </form>
    </div>
  </div>
  <div class="buttons-grid" id="buttons-grid">
    <div class="header-buttons">

      <div class="hello-user">
        <p>Welcome, User</p>
      </div>
      <div class="close-button">
        <button class="button button-gray"><a (click)="logout()">Logout</a></button>
      </div>

    </div>
  </div>


