

  <div class="logo-grid">
    <img src="../../assets/img/label.png" alt="Example" class="img-logo">
  </div>
  <div class="search">
    <div class="d1">
      <label>
        <input #title type="text" placeholder="Enter book title or author name" />
        <button (click)="newTitle(title.value)"></button>
      </label>
    </div>
  </div>
  <div class="buttons-grid" id="buttons-grid">
    <div class="header-buttons">

      <div class="hello-user">
        <p>Welcome, {{currentUser}}</p>
      </div>
      <div class="close-button">
        <button class="button button-gray" *ngIf="this.currentRole === '1'" >
          <a [routerLink]="['superadmin-request']" >Admin reg</a>
        </button>
        <button class="button button-gray" *ngIf="this.currentRole === '1'" >
          <a [routerLink]="['superadmin-moderator-request']" >Moder reg</a>
          </button>
        <button class="button button-gray"><a (click)="logout()">Logout</a></button>
      </div>

    </div>
  </div>


